<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
 		<class name="aseleniumPOMClasses.TC01_VerifyLoginFunctionality"/>
      	<class name="aseleniumPOMClasses.TC02_VerifyLogOutFunctionality"/>
      	<class name="aseleniumPOMClasses.TC03_VerifyFbLoginClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
